@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .navitem {
        @apply px-3 py-3 bg-gray-600 text-gray-100 cursor-pointer;
    } 
    .navitem:hover {
        @apply bg-gray-200 text-gray-600;
    }

    .sectionPreset {
        @apply pt-10 md:pt-20 pb-16 px-8 md:px-24;
    }

    .h1 {
        @apply text-3xl md:text-7xl font-light text-center uppercase;
    }
    .h2 {
        @apply text-2xl md:text-3xl font-thin text-center leading-normal px-2;
    }
    .h3 {
        @apply text-2xl md:text-4xl font-bold;
    }
    .h4 {
        @apply text-lg md:text-xl;
    }

}